# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite DB
*.db

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
coverage.xml
*.cover
*.log

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/
